apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
        - name: flask-app-container
          image: mimipower/web-flask:latest
          ports:
            - containerPort: 80
          env: # create this environment variable to be matched with app.py
            - name: MY_POD_NAME # label flask looks for
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
